HELP.md
hcpKey.txt
config_db_schema.txt
docker-compose.yml
Dockerfile
dockerCommand.png
dockerCommands.txt
springBootProductionActions.txt
hcpSavedProperties.txt
referrenceNotes.txt
redisclicommands.txt
src/main/java/com/intouch/IntouchApps/utils/JasyptEncryptionUtil.java
src/main/resources/application-test.yml
src/main/resources/application-dev.yml
src/main/resources/bootstrap.yml
src/main/java/com/intouch/IntouchApps/constants/RoleSeeder.java
src/main/java/com/intouch/IntouchApps/constants/KeyFamilySeeder.java
src/main/java/com/intouch/IntouchApps/constants/UserSeederUtil.java
src/main/java/com/intouch/IntouchApps/constants/SeedUserDTO.java
src/main/java/com/intouch/IntouchApps/constants/UserSeeder.java

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
